.Subway-map {
  width: 100vw;
  /* 100% of viewport width */
  height: 100vh;
  /* 100% of viewport height */
  max-width: 100%;
  /* Ensures SVG does not exceed the width of its container */
  max-height: 100%;
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.Menu {
  position: absolute;
  top: 20px;
  /* Adjust as needed */
  left: 20px;
  /* Adjust as needed */
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: black;
}

.button-container {
  position: fixed;
  /* or 'absolute' depending on your layout */
  bottom: 20px;
  /* Distance from bottom */
  right: 20px;
  /* Distance from right */
  z-index: 10;
  /* Ensure it's above other elements */

  display: flex;
  /* Use flex layout */
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center-align the buttons horizontally */
}

.button-container button {
  background-color: white;
  /* Or any desired color */
  border: 2px solid #000000;
  /* Black border, 2px thick */
  border-radius: 5px;
  cursor: pointer;
  /* Changes cursor to pointer on hover */
  margin-bottom: 5px;
  /* Space between buttons */
  padding: 5px;
}

.button-container button img {
  width: 30px;
  /* Adjust as needed */
  height: auto;
  /* Maintains aspect ratio */
}

.App-header,
.map-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  /* Ensures that the child absolute positioning is relative to this container */
}

.button-container button {
  margin: 5px;
  padding: 5px 10px;
}

.drawer {
  position: fixed;
  left: -500px;
  /* Width of the drawer */
  top: 0;
  width: 500px;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s;
  z-index: 1000;
  border: 2px solid #000000;
}

.drawer.open {
  left: 0;
}

.toggle-drawer-button {
  position: absolute;
  right: -35px;
  /* Adjust based on button size */
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: 2px solid #000000;
  /* Black border, 2px thick */
  border-radius: 5px;
  cursor: pointer;
}

.toggle-drawer-button img {
  width: 20px;
  /* Adjust size as needed */
  height: 50px;
}