.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Subway-map {
  /* Your styling here */
  width: 100%;
  height: auto;
  max-width: 900px;
  /* or any other size */
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.Menu {
  position: absolute;
  top: 20px;
  /* Adjust as needed */
  left: 20px;
  /* Adjust as needed */
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: black;
}

.button-container {
  position: fixed;
  /* or 'absolute' depending on your layout */
  bottom: 20px;
  /* Distance from bottom */
  right: 20px;
  /* Distance from right */
  z-index: 10;
  /* Ensure it's above other elements */

  display: flex;
  /* Use flex layout */
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center-align the buttons horizontally */
}

.button-container button {
  background-color: transparent;
  /* Or any desired color */
  border: none;
  /* Removes the default border */
  cursor: pointer;
  /* Changes cursor to pointer on hover */
  margin-bottom: 5px;
  /* Space between buttons */
  padding: 5px;
}

.button-container button img {
  width: 30px;
  /* Adjust as needed */
  height: auto;
  /* Maintains aspect ratio */
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  /* Ensures that the child absolute positioning is relative to this container */
}

.button-container button {
  margin: 5px;
  padding: 5px 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}